<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

        <Appenders>
        <Console name="ConsoleCyan" target="SYSTEM_OUT">
                        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %highlight{%-5level %logger{36}} - %cyan{%msg%n}"/>
        </Console>
        <Console name="ConsoleRed" target="SYSTEM_OUT">
                        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %highlight{%-5level %logger{36}} - %red{%msg%n}"/>
        </Console>
        <Console name="ConsoleWhite" target="SYSTEM_OUT">
                        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %highlight{%-5level %logger{36}} - %white{%msg%n}"/>
        </Console>
        <Console name="ConsoleYellow" target="SYSTEM_OUT">
                        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %highlight{%-5level %logger{36}} - %yellow{%msg%n}"/>
        </Console>
        </Appenders>

        <Loggers>
        <Logger name="com.hazelcast" level="info" additivity="false">
                <AppenderRef ref="ConsoleCyan"/>
        </Logger>
        <Logger name="demo" level="debug" additivity="false">
                <AppenderRef ref="ConsoleYellow"/>
        </Logger>
        <Logger name="org.springframework.boot.context.embedded.tomcat" level="info" additivity="false">
                <AppenderRef ref="ConsoleRed"/>
        </Logger>
        
        <Root level="error">
                <AppenderRef ref="ConsoleWhite"/>
        </Root>
        </Loggers>
</Configuration>